body {
    font-family: 'Arial', sans-serif;
    background-color: #333333;
    color: white;
    line-height: 1.6;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    
    
}

/* Headings and Text */
h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ff6f00; /* Golden color for highlight */
}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: white; /* Soft white for readability */
}

/* Button */
button {
    width: 60%;
    padding: 14px; /* Increased padding */
    background-color: #ff6f00;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

button:hover {
    background-color: #e65c00;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px; /* Increased form size */
    margin: 70px auto; /* Increased vertical margin */
    padding: 35px; /* Increased padding for better spacing */
    text-align: center;
    
    max-height: 110vh; /* Allow the form to scroll */
    
}

label {
    font-size: 20px;
    color: #e0e0e0;
    margin-bottom: 5px;
    margin-right: 0px;
    display: block;
    text-align: center;
}

input,
select {
    width: 80%;
    padding: 12px;
    background-color: #333333;
    border: none;
    outline: none;
    border: 2px solid #555555;
    border-radius: 40px;
    color: #e0e0e0;
    font-size: 14px;
    
    
}

input:focus,
select:focus {
    outline: none;
    border-color: #ff6f00;
    box-shadow: 0 0 8px rgba(255, 111, 0, 0.7);
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}
