{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/dsa.jpg' %}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>  Sign in </title>
</head>

<body style="background-image: url('{% static 'images/alert.webp' %}'); background-size: cover; background-position: center;">
    <div class="login-container">
        <h1>Log in</h1>

        <form method="POST">
            
            <div class="form-group">
                {% if messages %}              
                    <div id="userError">                        
                        <em> Invalid username or password</em>
                    </div>
                 {% endif %}
                <label for="id_username"><i class='bx bx-user'></i> Username</label>
                {{ form.username }}
                {% csrf_token %}
               
                
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // Get the container of messages
                    const errorMessages = document.getElementById("userError");
            
                    if (errorMessages) {
                        // Set a timeout to hide the messages after 3.5 seconds
                        setTimeout(function () {
                            errorMessages.style.display = "none";
                        }, 5000);
                    }
                });
            </script>
            <div class="form-group">
                <label for="id_password"><i class='bx bx-lock-alt' ></i> Password</label>
                {{ form.password }}
               
            </div>
            
            <!-- CAPTCHA Field -->
            <div class="form-group">
                <label for="id_captcha"><i class='bx bx-check-shield'></i> CAPTCHA</label>
                {{ form.captcha }}
                
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
        
            <p class="login-link">Don't have an account yet ? <a href="{% url 'users:register' %}">Sign Up</a></p>
            <p class="login-link">Forgot Password ?<a href="{% url 'password_reset' %}"> Reset</a>
            </p>
        </form>


    </div>
    
</body>

</html>
